.vscode/**
.vscode-test/**
.claude/**
**/.claude/**
out/**
node_modules/**
src/**
.python-version
bun.lock
pyproject.toml
uv.lock
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/.env
**/.env.*
**/AGENTS.md
**/CLAUDE.md
